* {
  padding: 0;
  margin: 0;
   
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: 'Poppins';
}

.hero {
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  background-image: url("../img/svg/white-bg.svg");
  background-color: #ff832a;
  background-size: contain;
  background-repeat: no-repeat;
}

/* l-side */
.hero .l-side,
.hero .r-side {
  flex: 1;
  flex-basis: 50%;
}
/* r-side */

.hero .l-side {
  padding: 40px 60px;
}
.hero .r-side {
  padding: 40px 60px;
}

.reg-form {
  background-color: #ffd482;
  padding: 50px 50px;
}

.reg-form form input {
  background-color: #ffd482;
  border: 1px solid black;
}

/* Acheivemnet section */
#achvmnt {
  background-color: #f5e9d7;
  padding: 50px 250px;
}

.box {
  flex: 1;
  flex-basis: 100%;
}

#faq {
  padding: 30px 20px;
}

 
/* changing default pagination color */
.page-item.active .page-link {
  background-color: #ff832a;
  border-color: #ff832a;
}



@media (max-width: 576px) {
  
  
 .hero .r-side {
  padding: 40px 20px;
}
   
  .reg-form {
    padding: 50px 20px;
  }

  #achvmnt {
    padding: 50px 20px;
  }
  
  



}

@media (min-width: 577px) and (max-width: 768px) {
  .hero .r-side {
  padding: 40px 20px;
}

  #achvmnt {
    padding: 50px 20px;
  }
 


}

@media (min-width: 767px) and (max-width: 992px) {
  .hero .r-side {
  padding: 40px 20px;
}
}

@media (min-width: 992px) and (max-width: 1200px) {

 
}

@media (min-width: 1201px) and (max-width: 2560px) {
 
}
